In [1]:
import pandas as pd
df = pd.read_csv("hotel_bookings.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
df = df.drop(columns=['company'], errors='ignore')

In [5]:
df['children'] = df['children'].fillna(0)
df['country'] = df['country'].fillna('Unknown')
df['agent'] = df['agent'].fillna(0)

In [6]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [7]:
df = df[[
    'hotel',
    'arrival_date_month',
    'stays_in_weekend_nights',
    'stays_in_week_nights',
    'adults',
    'children',
    'adr',
    'market_segment',
    'customer_type',
    'is_canceled'
]]

In [8]:
def budget_category(price):
    if price < 80:
        return 'Low'
    elif price < 150:
        return 'Medium'
    else:
        return 'High'

df['budget_category'] = df['adr'].apply(budget_category)

travel_type
Couple    82281
Solo      22587
Family    14522
Name: count, dtype: int64

In [9]:
def budget_category(price):
    if price < 80:
        return 'Low'
    elif price < 150:
        return 'Medium'
    else:
        return 'High'

df['budget_category'] = df['adr'].apply(budget_category)

df['budget_category'].value_counts()

budget_category
Medium    61004
Low       41499
High      16887
Name: count, dtype: int64

In [10]:
import numpy as np

destinations = ['Beach', 'City', 'Hill', 'Wildlife']
df['destination_type'] = np.random.choice(destinations, size=len(df))

df['destination_type'].value_counts()

destination_type
City        30010
Wildlife    29943
Hill        29869
Beach       29568
Name: count, dtype: int64

In [11]:
df['demand_level'] = df['is_canceled'].map({0: 'High', 1: 'Low'})

df['demand_level'].value_counts()

demand_level
High    75166
Low     44224
Name: count, dtype: int64

In [12]:
df.head()

,hotel,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,adr,market_segment,customer_type,is_canceled,travel_type,budget_category,destination_type,demand_level
0,Resort Hotel,July,0,0,2,0.0,0.0,Direct,Transient,0,Couple,Low,City,High
1,Resort Hotel,July,0,0,2,0.0,0.0,Direct,Transient,0,Couple,Low,City,High
2,Resort Hotel,July,0,1,1,0.0,75.0,Direct,Transient,0,Solo,Low,Wildlife,High
3,Resort Hotel,July,0,1,1,0.0,75.0,Corporate,Transient,0,Solo,Low,Wildlife,High
4,Resort Hotel,July,0,2,2,0.0,98.0,Online TA,Transient,0,Couple,Medium,Wildlife,High

In [13]:
df_final = df[[
    'arrival_date_month',
    'stays_in_weekend_nights',
    'stays_in_week_nights',
    'travel_type',
    'children',
    'budget_category',
    'destination_type',
    'demand_level'
]]

In [14]:
df_final.info()
df_final.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   arrival_date_month       119390 non-null  object
 1   stays_in_weekend_nights  119390 non-null  int64
 2   stays_in_week_nights     119390 non-null  int64
 3   travel_type              119390 non-null  object
 4   children                 119390 non-null  float64
 5   budget_category          119390 non-null  object
 6   destination_type         119390 non-null  object
 7   demand_level             119390 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.3+ MB

,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,travel_type,children,budget_category,destination_type,demand_level
0,July,0,0,Couple,0.0,Low,City,High
1,July,0,0,Couple,0.0,Low,City,High
2,July,0,1,Solo,0.0,Low,Wildlife,High
3,July,0,1,Solo,0.0,Low,Wildlife,High
4,July,0,2,Couple,0.0,Medium,Wildlife,High

In [16]:
df_final = df_final.copy()

In [17]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in df_final.columns:
    df_final[col] = encoder.fit_transform(df_final[col])

In [18]:
df_final.head()
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   arrival_date_month       119390 non-null  int64
 1   stays_in_weekend_nights  119390 non-null  int64
 2   stays_in_week_nights     119390 non-null  int64
 3   travel_type              119390 non-null  int64
 4   children                 119390 non-null  int64
 5   budget_category          119390 non-null  int64
 6   destination_type         119390 non-null  int64
 7   demand_level             119390 non-null  int64
dtypes: int64(8)
memory usage: 7.3 MB

In [20]:
df_final.to_csv("final_dataset.csv", index=False)